
/********  FINAL PROJECT  ********/


* {
    box-sizing: border-box;
}

html {
    font-size: 10px; 
}

body {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: var(--body-color);

    }

#container {
    display: grid;
    grid-template-columns: .7fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.2fr auto;
    grid-template-areas:
         "sidebar nav nav nav nav"
         "sidebar main main main main";
}

/*  TEXT STARTS HERE  ***************************************/

.header-three {
    font-size: 1.4rem;
    font-weight: 500;
    color: black;
    text-align: left;

}

.sub-header {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(84, 84, 84);

}

.label-text {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 400;

}

p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;

}


/*  COLOR STARTS HERE  ***************************************/
 
:root {
    --blue: #323552;
    --accent-blue: #2F80ED;
    --purple: #9948FF;
    --yellow: #FBAE17;
    --accent-yellow: #F2C94C;
    --black: #141414;
    --gray: #333333;
    --light-gray: #E0E0E0;
    --body-color: #F1F3F6;
    --white: #ffffff;

    --yellow-gradient: linear-gradient(90deg, #E65C00 0%, #F9D423 100%);

    
}



/**  MAIN NAV STARTS HERE  **********************************/

.mobile-navbar{
    display: none;
}



/***  SIDEBAR STARTS HERE  **********************************/

#sidebar {
    background: var(--blue);
    grid-area: sidebar;
    height: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding-top: 3rem;
    min-width: 20rem;
    position: fixed;
}




.logo {
    padding-bottom: 4rem;
    font-size: 4rem;
    color: white;
    text-align: center;
    letter-spacing: .1vw;
    filter: drop-shadow(1px 1px 1px #00000030);

}

.logo-text > span {
    color: var(--purple);    
}

.logo > i {
    transform: rotate(120);
    padding-bottom: .5rem;
    filter: drop-shadow(1px 1px 1px #00000030);

}

.menu-heading {
    text-decoration: none;
    color: #ffffff;
    padding-left: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 2rem;
    filter: drop-shadow(1px 1px 1px #00000022);
    letter-spacing: .1rem;

    
}

.sidebar-link {
    display: block;
    padding: 1.2rem 2rem;     
}

.fa-fw {
    padding-left: 1rem; 
    color: #F2F2F2;
    font-size: 1.5rem;
    filter: drop-shadow(1px 1px 1px #00000022);

    
}

.sidebar-item {
    text-decoration: none;
    color: #F2F2F2;    padding-left: 2rem;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: left; 
    filter: drop-shadow(1px 1px 1px #00000022);
  
}


.sidebar-link:hover {
    background-color: #212338;
    font-size: 1.5rem;
    transition: all 0.5s;
    color: var(--white);
    width: 100%;
    margin: 0 auto;
   
}


.active-menu-link {
    background: #101630;
    width: 100%;
    filter: drop-shadow(-3px 5px 3px #3333334e);
    display: block;
    padding: 1.4rem 1rem; 
}
 

.active-icon, .active-link {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 400;  
}



.active-icon {
    margin-left: 1rem;
    color: var(--purple);
}







/***  MAIN CONTAINER STARTS HERE  ****************************/

main {
    grid-area: main;
    overflow-y: auto;
    margin: 2rem 3rem;
    
    
}

.main-container {
    position: relative;

}

.row {
    display: flex;
}


.col-3 {
    background-color: var(--white);
    box-shadow: 3px 5px 14px rgba(0, 0, 0, 0.09);
    border-radius: .2rem;
    height: 32rem;
    padding: 2rem; 
    margin-bottom: 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25%;
    position: relative;
}


.col-8 {
    background-color: var(--white);
    box-shadow: 3px 5px 14px rgba(0, 0, 0, 0.09);
    border-radius: .4rem; 
    height: 40rem;
    padding: 2rem; 
    margin-bottom: 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 60%;
}


.col-4 {
    background-color: var(--white);
    box-shadow: 3px 5px 14px rgba(0, 0, 0, 0.09);
    border-radius: .4rem; 
    height: 40rem;
    padding: 2rem; 
    margin-bottom: 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;  
}

.second {
    margin: 0 2rem;     
}

.third {
    margin-right: 2rem;     
}

.title-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
    padding-top: 1rem;
}





/*  WELCOME GREETING STARTS HERE  ****************************/

.greeting-container {
    margin-bottom: 4rem;
}

h1 {
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 500;
    filter: drop-shadow(1px 1px 1px #00000030);


}

.greeting-container > p {
    color: #333333;
    filter: drop-shadow(1px 1px 1px #00000020);
    font-size: 1.4rem;

}





/***  PROFILE CARD STARTS HERE  ******************************/

    .profile-card {
        background-color: var(--blue);
        position: relative;
    }

    .profile-pic {
        margin: auto; 
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: .2rem;  
    }

    .pro-label {
        background-color: var(--yellow);
        width: 2.5em;
        text-align: center;
        border-radius: .2rem;
        line-height: 2rem; 
        color: var(--white);  
  
    }


    .profile-pic-circle {
        width: 9rem;
        height: 9rem;
        border: 1px solid var(--white);
        position: absolute;
        top:0; bottom:9rem; left:0;right:0;
        margin: auto;
        border-radius: 50%; 
        filter: drop-shadow(3px 4px 3px #00000055 );

      }

      
      .circle {
        width: .8rem;
        height: .8rem;
        background-color: var(--purple);
        border-radius: 50%;
        position: absolute;
        top:0; bottom:0; left:0;right:0;
        margin: auto;
        filter: drop-shadow(3px 8px 3px #00000055 );

        animation: circle 8s linear infinite;
      }
      

      .circle-one {
        width:.5rem;
        height: .5rem;
        background:rgb(191, 255, 0);
        border-radius: 50%;
        position: absolute;
        top:0; bottom:0; left:0;right:0; 
        margin: auto;
        filter: drop-shadow(3px 8px 3px #00000055 );

        animation: circle 5s linear infinite;
      }



      @keyframes circle {
        0%{
          transform:rotate(0deg)
                    translate(-45px)
                    rotate(0deg);
        }
        100%{
          transform:rotate(360deg)
                    translate(-45px)
                    rotate(-360deg);
        }
      }

      @keyframes circle-one {
        0%{
          transform:rotate(360deg)
                    translate(-40px)
                    rotate(0deg);

        }
        100%{
          transform:rotate(360deg)
                    translate(-40px)
                    rotate(0deg);
        }
      }
      
      

    .profile-content {
        margin-top: 14rem;
    }

    .name-header, .ux-title {
        text-align: center;
        padding-bottom: .5rem;
        position:relative;
    }

    .name-header {
        color: var(--white); 
        font-weight: 500;
        letter-spacing: .05rem;
        
        }
       

    .ux-title {
        color: var(--body-color); 
        font-weight: 300;
        font-size: 1.4rem;    
    }




    .button-container {
        position: relative;
        display: flex;
        width: 13rem;
        height: 3.8rem;
        margin: auto;
        border-radius: 23rem;   
        margin-top: 3rem;
        filter: drop-shadow(3px 4px 3px #00000055 );
        justify-content: space-between;
        cursor: pointer;
        overflow: hidden;
        transition:  0.1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        

        background: linear-gradient(370deg, #531e93 -4.94%, #9948FF 71.39%);    
    }


    .button-container:before, .button-container:after {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        transition: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        z-index: 1;
        background: linear-gradient(370deg, #531e93 -4.94%, #9948FF 71.39%);  
    }
    
    
    .button-container:before {
        content: '';
    
     }
    
    .button-container:after {
        content: '';
      }
    
    
    .button-container:hover {
        background: linear-gradient(370deg, #531e93 -4.94%, #9948FF 71.39%);  
        filter: drop-shadow(3px 4px 3px #00000055 );
    }
    
    .button-container:hover span {
        opacity: 0;
        z-index: -3;
    }
    .button-container:hover::before {
        opacity: 0.5;
        transform: translateY(-100%);
    }
    .button-container:hover::after {
        opacity: 0.5;
        transform: translateY(100%);
    }
    .button-container span {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: var(--white);
        font-size: 1.4rem ;
        font-weight: 500;
        opacity: 1;
        transition: opacity 0.25s;
        z-index: 2;
    }
    
    .button-container .icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33.3333%;
        height: 100%;
        color: var(--white);
        text-decoration: none;
        transition: 0.25s;
    }

    .button-container .icon i {
        filter: drop-shadow(3px 4px 3px #00000055 );
        transform: scale(1);
    }

    .button-container .icon:hover {
        background: rgba(255, 255, 255, 0.134);  
     
    }

    .button-container .icon:hover i {
        animation: animate 0.5s linear;
    }

    @keyframes animate {
        40% {
            transform: scale(1.2);
        }
        60% {
            transform: scale(0.8);
        }
        80% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }







 /***  FUN FACTS CARD STARTS HERE  ****************************/

.fun-facts-header {
    padding-bottom: 3rem;
}

.usvi-fact {
    width: 100%;    
}

.usvi-fact > p {
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: 'Roboto', sans-serif;
}

.fun-facts-content > p {
    position: relative;
   
}

.fun-facts-indicator {
    display: flex;
    width: 100%; 
    border-radius: 12rem;
    position: absolute;
    left: 2rem;
    right: 0;
    bottom: 2rem;  
    
}

.indicator {
   margin-right: .5rem;
   background-color: var(--yellow);
   height: .5rem;
   width: 1.8rem;
   cursor: pointer;
   border-radius: 3rem;
   filter: drop-shadow(1px 1px 1px #00000010);

   
}
   
.indicator:nth-last-child(-n+2) {
    background-color: var(--light-gray);
    width: .5rem;
    margin-right: .5rem;



}


/*
.fun-facts-icons {
    width: 100%; 
    border-radius: 12rem;
    position: absolute;
    left: 2rem;
    right: 0;
    bottom: 2rem;  
}

.fun-facts-icons > img {
   margin-right: 2rem;
}
   
*/



/*****  MUSIC PLAYER CARD STARTS HERE  **************************/

.motivation-card .header-three {
    margin-bottom: .8rem;
}
.motive-bar {
    height: 3.2rem;
    margin-bottom: .5rem;
}



.growth,
.impact,
.incentives,
.achievement,
.collaboration,
.power {
    align-items: center;
    line-height: 3rem;
    color: var(--white);
    height: 100%;
    padding-left: 1rem;
    font-size: 1.4rem;
 }

.growth {
   width: 100%;
   background-color: var(--blue);

}

.impact {
    width: 90%;
    background-color: var(--light-gray);
    color:#000000;
    font-weight: 500;
 }

 .incentives {
    width: 70%;
    background-color: var(--blue);
 }


 .achievement {
    width: 80%;
    background-color: var(--light-gray);
    color:#000000;
    font-weight: 500;

 }

 .collaboration {
    width: 70%;
    background-color: var(--blue);

 }

 .power {
    width: 30%;
    background-color: var(--light-gray);
    color:#000000;
    font-weight: 500;

 }
 











/****  PERSONALITY CARD STARTS HERE  **************************/

  
    .personality-card {
        background-color: var(--blue);
    }

    .personality-card .header-three {
        color: white;    
    }

  

    .personality-card .label-content {
        display: flex;
        justify-content: space-between; 
        position: relative; 
        color: var(--white);    
    }

    .label-content .label-text {
        font-weight: 300;
       
        margin-bottom: .5rem;
    }

    

    .slider-range {
        width: 100%;
        position: relative;
        margin-bottom: 4rem;
        margin-top: .3rem;
        
    }
  

    .slider-handler {
        background: linear-gradient(180deg, #E1990B 0%, #FBAE17 25.39%, #E89F0E 54.03%,   #FBAE17 75.91%, #CB8600 100%);
        width: 2rem;
        height: 1.6rem;
        position: absolute;
        top: -.4rem;
        z-index: 100;  
        border-radius: .2rem;
        filter: drop-shadow(1px 1px 1px #00000020);

  
    }

    .slider-track {
        width: 100%;
        background-color: var(--white);
        height: .8rem;
        position: absolute;
        top: -5;  
        border-radius: .2rem;

    }

    .introvert {
        margin-left: 40%;
    }

    .creative {
        margin-left: 55%;
    }

    .independent {
        margin-left: 50%;
    }

    .adaptable {
        margin-left: 30%;
    }

   


/****  TECHNOLOGY CARD STARTS HERE  **************************/

    .tech-header {
        margin: .5rem 0;
    }

    .technology-card {
        margin-right: 2rem;  
        position: relative;         
    }

    
    #defaultOpen {
        border: none;
        border-bottom: .4rem solid var(--yellow);
        width: 7rem; 
    }
    #ux-tab {
        border: none;
        width: 5rem; 
        margin-left: 1rem;

    }

    .right-card-tabs {
        display: flex;
        position: absolute; 
        top: 2.9rem; 
        right: 2.5rem;
    }

    .tablink {
        border: none;
        color: black;
        float: left;
        outline: none;
        cursor: pointer;
        font-size: 1.4rem;
        width: 50%;
        white-space: nowrap;
    }


    button {
        background-color: transparent;
    }



    .container {
        width: 100%; 
        background-color: #ddd; 
        margin-bottom: 1.5rem;  
        border-radius: .0rem;
       
    }
      
    .label-text {
        font-size: 1.2rem;
        font-weight: 500;

    }

    .tech {
        text-align: center; 
        padding: 1rem 0;
        color: white;   
        animation: load 2s 0s ease-out;
        -webkit-animation: load 1s 0s ease-out;
        -moz-animation: load 1s 0s ease-out;
    }

    @keyframes load{
        from {
          width: 0%
        }
      }
      @-webkit-keyframes load{
        from {
          width: 0%
        }
    }

    .visual-studio-code {
        width: 100%; 
        background-color: var(--blue);
    } 

    .bootstrap {
        width: 70%; 
        background-color:#323552;
    }


    .github {
        width: 80%; 
        background-color:#323552;
    } 

    .dev-tools {
        width: 90%; 
        background-color:#323552;    
    }


    .figma {
        width: 100%; 
        background-color: var(--blue);
    } 

    .sketch {
        width: 80%; 
        background-color:#323552;
    }


    .adobe {
        width: 90%; 
        background-color:#323552;
    } 

    .invision {
        width: 70%; 
        background-color:#323552;    
    }




.ux-technology-content {
    display: none;
    
}




/*****  EXPERTISE CARD STARTS HERE  **************************/




.expertise-header {
    padding-top: .5rem;
}
.date {
    font-weight: 400;
    color: grey;
    font-size: 1rem;
    padding-top: 1rem;
    float: right;
    
   
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 0;
  }
  

th {
    text-align: left;
    padding: 2rem 1rem 3rem 1rem;
    font-weight: 600;
    justify-items: space-between;
    color: var(--gray); 
    text-transform: uppercase;
    font-size: 1.3rem; 

    
  }
  
  .fa-sort {
    font-size: 1.2rem;
    padding-left: 1rem;
    color: var(--light-gray);
}


  td {
    padding: 1rem 1rem;
    text-align: left;
    line-height: 1.8rem; 
   
 

  }

  .proficiency {
      display: flex;
  }

  .skill-circle {
     width: 1.2rem;
     height: 1.2rem;
     border-radius: 50%;
     background-color: var(--purple);
     margin-right: .8rem;
  }
  
.grey-circle {
    background-color: var(--light-gray);


}


  tr {
    filter: drop-shadow(3px 4px 14px 0px #000000 9%) ;


  }
 
    

    td:nth-last-child(1) {
        text-align: justify;
    }

 
/***** SIDENAV MEDIA QUERY STARTS HERE  ************************/


@media (min-width: 1111px) and (max-width: 1200px){


    #container {
        display: grid;
        grid-template-columns: .2fr auto; 
        grid-template-rows: 0.2fr 1f 1fr 1fr 1fr;
        grid-template-areas:
             "sidebar nav nav nav nav"
             "sidebar main main main main";
    }

    .mobile-navbar{
        display: none;
    }

    #sidebar {
        background-color: var(--blue);
        grid-area: sidebar;
        height: 100%;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        padding-top: 3rem;
        min-width: 8rem;
        position: static;
    }

    .sidebar-link {
        display: flex;
        position: relative;

    }

    
    .sidebar-menu > h1 {
        padding: 0 2rem;  
    }
    
    .sidebar-item {
        font-size: 1.8rem;
        white-space: nowrap;
        display: none;
    }

    .active-icon, 
    .active-link {
        color: var(--black);
    }


    .active-menu-link {
        border-left: .4rem solid var(--purple);
        background-color: transparent;

        
     }
     
     .active-icon, .active-link {
         color: var(--white);
         
     
     }

     .fa-fw {
        font-size: 2rem;
        padding-left: 1rem; 
         
    }
    
    

    .sidebar-link:hover {
        background-color: #212338;
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
        width: 18rem;
        transition: all 0.1s;
        z-index: 100;
    }
   


}




/***** TABLET MEDIA QUERY STARTS HERE  ************************/


@media (min-width: 550px) and (max-width: 1110px){

    
  
    
    #container {
        display: grid;
        grid-template-columns: 8% 46% 46%;
        grid-template-rows: 0.2fr 1f 1fr 1fr 1fr;
        grid-template-areas:
             "sidebar nav nav"
             "sidebar main main"
             "sidebar main main";
    }

   .mobile-navbar{
        display: none;
    }

    #sidebar {
        background-color: var(--blue);
        grid-area: sidebar;
        height: 100%;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        padding-top: 3rem;
        min-width: 8rem;
        position: static;
    }

    .sidebar-link {
        display: flex;
        position: relative;

    }

    
    .sidebar-menu > h1 {
        padding: 0 2rem;  
    }
    
    .sidebar-item {
        font-size: 1.8rem;
        white-space: nowrap;
        display: none;
    }

    .active-icon, 
    .active-link {
        color: var(--black);
    }


    .active-menu-link {
        border-left: .4rem solid var(--purple);
        background-color: transparent;

        
     }
     
     .active-icon, .active-link {
         color: var(--white);
         
     
     }


    .fa-fw {
        font-size: 2rem;
        padding-left: 1rem; 
         
    }
    
    

    .sidebar-link:hover {
        background-color: #212338;
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
        width: 18rem;
        transition: all 0.1s;
        z-index: 100;
    }
   

    main {
        grid-area: main;
        overflow-y: auto;
        margin: 3rem;
        
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .main-container {
        margin-left: auto;
        margin-right: auto;

    }

    .col-6 {
        padding: 3rem;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 46%;
        max-width: 50%;
        height: 35rem;
    
    }


    .col-12 {
        padding: 3rem;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
        height: 42rem;
        

    }




    .technology-card .title-header {
        margin-bottom: -.5rem;
    }
    
    .technology-card {
        margin: 0; 
        margin-bottom: 2rem;         
    }


    .expertise-card {
        min-height: 40rem;
    }

    
    .profile-card {
        margin-right: 2rem;  
    }

    .profile-card > p {
        margin: 0 2rem;  
    }

    .fun-facts {
        margin: 0 0 2rem 0;     
    }
    
    .third {
        margin-right: 2rem;     
    }

    
}







/***** DESKTOP MEDIA QUERY STARTS HERE  ************************/

 
  
  @media only screen and (min-width: 1441px) {

    * {
        box-sizing: border-box;
    }
    html {
        font-size: 15px;    
    }
    
    body {
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        background: linear-gradient(239.46deg, #F1F3F6 -4.72%, rgba(241, 242, 244, 0.965835) 16.4%, rgba(241, 241, 242, 0.927998) 48.83%, rgba(241, 241, 241, 0.92) 89.6%);
    
        }
    
    #container {
        display: grid;
        grid-template-columns: 16% 21% 21% 21% 21%;
        grid-template-rows: 0.2fr auto;
        grid-template-areas:
             "sidebar nav nav nav nav"
             "sidebar main main main main";
    }



    .profile-pic {
       width: 103%;
       margin: auto; 
       text-align: center;
       justify-content: center;
       align-items: center;
       padding: .2rem;
       
    }


    .profile-pic-circle {
        width:9rem;
        height:9rem;
        border: 1px solid white;
        position:absolute;
        top:0; bottom:9rem; left:0;right:0;
        margin:auto;
        border-radius:50%; 
    }
    
    .circle {
        width:.7rem;
        height:.7rem;
        background:cyan;
        border-radius: 50%;
        position: absolute;
        top:0; bottom:0; left:0;right:0;
        overflow: hidden;
        margin: auto; 
        animation: circle 8s linear infinite;   
    
    }
    

    .circle-one {
        width:.5rem;
        height:.5rem;
        background:rgb(191, 255, 0);
        border-radius:50%;
        position: absolute;
        top:0; bottom:0; left:0;right:0;
        overflow:hidden;
        margin:auto;
        animation: circle 5s linear infinite;
    }



    @keyframes circle {
    0%{
        transform:rotate(0deg)
                translate(-4.5rem)
                rotate(0deg);
    
    }
    100%{
        transform:rotate(360deg)
                translate(-4.5rem)
                rotate(-360deg);
    }
    }

    @keyframes circle-one {
    0%{
        transform:rotate(360deg)
                translate(-4.5rem)
                rotate(0deg);
    
    }
    100%{
        transform:rotate(360deg)
                translate(-4.5rem)
                rotate(0deg);
    }
    }
    
              
    .message-btn {
        padding: .8rem 3rem;
        margin-top: 3.5rem;
        font-size: 1.4rem;
        text-align: center;  
    }    
           
        
}


/***** MOBILE MEDIA QUERY STARTS HERE  ************************/


@media (max-width: 550px) {
    #container {
      grid-template-columns: 100%;
      grid-template-rows: 0.4fr auto;
      grid-template-areas:
        "nav"
        "sidebar"
        "main";
    }

    .row {
        display: block; 
    }

    #sidebar {
        background-color: var(--blue);
        grid-area: sidebar;
        width: 90rem;
        height: 100vh;
        padding-top: 10rem;
        margin-left: 10rem;
        top: 0;
        z-index: 999;
        position: fixed;
        opacity: 95%;
        display: none;
       
    }

    /***** NAVBAR STARTS HERE  ************************/



    .mobile-navbar {
        grid-area: nav;
        height: 5.5rem;
        padding: 2rem 4rem; 
        background-color: var(--white);  
        align-items: center;
        display: flex; 
        justify-content: space-between;  
        box-shadow: 0px 2px 2px rgba(54, 54, 54, 0.11);
    }
    
    
    
    .right-menu-items {
        display: flex;
    }
    
    .right-menu-items > img {
        padding-right: 1rem;
        filter: drop-shadow(1px 1px 1px #00000030);
    
    }
    
    .right-menu-items > a {
        text-decoration: none;
        font-weight: 400;
        line-height: 3rem;
        color: #000000;
        font-size: 1.4rem;
        filter: drop-shadow(1px 1px 1px #00000030);
    }
    

    .mobile-logo {
        visibility: visible;
        text-align: center;
      
    }

    span {
        color: var(--purple);   
    }

    .right-menu-items {
        float: left;
    }

    .right-menu-items > a {
        display: none;
        
    }

 

    

    .sidebar-menu > h1 {
        text-decoration: none;
        color: white;
        padding-left: 4rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;   
    }

    .sidebar-link {
        display: block;
        padding: 2rem 5rem;     
    }

    .fa-fw {
        padding-left: 1rem; 
        color: white;
        font-size: 1.5rem;
        
    }

    .sidebar-link > a {
        text-decoration: none;
        color: white;
        padding-left: 2rem;
        font-size: 1.4rem;
        font-weight: 300;
        text-align: left;
        
    }

    .sidebar-link:hover {
        background-color: #212338;
        font-size: 1.4rem;
        font-weight: 800;
        transition: all 0.5s;
    }

    .col-3,
    .col-12 {
        margin: 0 0 2rem 0;
    }

    .col-3 {
        box-shadow: 3px 4px 14px rgba(0, 0, 0, 0.09);
        border-radius: 1rem;
        height: 35rem;
        padding: 4rem; 
        margin-bottom: 2rem;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
    }


    .col-12 {
        box-shadow: 3px 4px 14px rgba(0, 0, 0, 0.09);
        border-radius: 1rem; 
        height: 40rem;
        padding: 3rem; 
        margin-bottom: 2rem;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
    }


    .technology-card {
        margin: 0; 
        margin-bottom: 2rem;         
    }


    .message-btn {
        padding: .8rem 3rem;
        margin-top: 3.5rem;
        font-size: 1.4rem;
        text-align: center;  
    }    
        
    #music-container > span {    
        margin: auto;
        width: 1.5rem;  
        height: 5rem; 
        margin-bottom: -17rem;
    }
        

    .expertise-card {
        height: 47rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        overflow-y: scroll;
    }

    .table-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;


    }

}

